<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/becm">insert</a></li>
    <li>
      <form action="/becmdata" method="GET">
        <input type="number" name="becmsession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/becmlogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<h3>বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগের শিক্ষার্থীঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th>মোট আসন সংখা</th>
	<th colspan="3">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
	<th>মোট</th>
</tr>
<tr>
	<th rowspan="4">পুরকৌশল অনুষদ </th>
	<th rowspan="4">বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<td><%=becmuser.metotalbscstudent %></td>
	<td><%=becmuser.memalebscstudent %></td>
	<td><%=becmuser.mefemalebscstudent %></td>
	<td><%=(becmuser.mefemalebscstudent+becmuser.memalebscstudent) %></td>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<td><%=becmuser.metotalmscstudent %></td>
	<td><%=becmuser.memalemscstudent %></td>
	<td><%=becmuser.mefemalemscstudent %></td>
	<td><%=(becmuser.memalemscstudent+becmuser.mefemalemscstudent) %></td>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<td><%=becmuser.metotalmfilstudent %></td>
	<td><%=becmuser.memalemfilstudent %></td>
	<td><%=becmuser.mefemalemfilstudent %></td>
	<td><%=(becmuser.memalemfilstudent+becmuser.mefemalemfilstudent) %></td>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<td><%=becmuser.metotalphdstudent %></td>
	<td><%=becmuser.memalephdstudent %></td>
	<td><%=becmuser.mefemalephdstudent %></td>
	<td><%=(becmuser.memalephdstudent+becmuser.mefemalephdstudent) %></td>
</tr>	
</table>
<br>

<h3>বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগের শিক্ষার্থী(বিদেশী শিক্ষার্থীসহ)</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th colspan="3">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
	<th></th>
	<th></th>
	<th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
	<th>মোট</th>
</tr>
<tr>
	<th rowspan="4">পুরকৌশল অনুষদ </th>
	<th rowspan="4">বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<td><%=becmuser.meforeignmalebscstudent %></td>
	<td><%=becmuser.meforeignfemalebscstudent %></td>
	<td><%=(becmuser.meforeignfemalebscstudent+becmuser.meforeignmalebscstudent) %></td>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<td><%=becmuser.meforeignmalemscstudent %></td>
	<td><%=becmuser.meforeignfemalemscstudent %></td>
	<td><%=(becmuser.meforeignmalemscstudent+becmuser.meforeignfemalemscstudent) %></td>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<td><%=becmuser.meforeignmalemfilstudent %></td>
	<td><%=becmuser.meforeignfemalemfilstudent %></td>
	<td><%=(becmuser.meforeignmalemfilstudent+becmuser.meforeignfemalemfilstudent) %></td>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<td><%=becmuser.meforeignmalephdstudent %></td>
	<td><%=becmuser.meforeignfemalephdstudent %></td>
	<td><%=(becmuser.meforeignmalephdstudent+becmuser.meforeignfemalephdstudent) %></td>
</tr>	
</table>
<br>

<h3>বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগের ডিগ্রিভিত্তিক শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th rowspan="2">ডিগ্রি</th>
	<th colspan="3">পূর্ণকালিন  শিক্ষক সংখ্যা</th>
	<th colspan="3">খন্ডকালিন  শিক্ষক সংখ্যা</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>মোট</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>মোট</th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<td><%=becmuser.mefulltimemfilmaleteacher %></td>
	<td><%=becmuser.mefulltimemfilfemaleteacher %></td>
	<td><%=(becmuser.mefulltimemfilmaleteacher+becmuser.mefulltimemfilfemaleteacher) %></td>
	<td><%=becmuser.meparttimemfilmaleteacher %></td>
	<td><%=becmuser.meparttimemfilfemaleteacher %></td>
	<td><%=(becmuser.meparttimemfilmaleteacher+becmuser.meparttimemfilfemaleteacher) %></td>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<td><%=becmuser.mefulltimephdmaleteacher %></td>
	<td><%=becmuser.mefulltimephdfemaleteacher %></td>
	<td><%=(becmuser.mefulltimephdmaleteacher+becmuser.mefulltimephdfemaleteacher) %></td>
	<td><%=becmuser.meparttimephdmaleteacher %></td>
	<td><%=becmuser.meparttimephdfemaleteacher %></td>
	<td><%=(becmuser.meparttimephdmaleteacher+becmuser.meparttimephdfemaleteacher) %></td>
</tr>

<tr>
	<th>মাস্টার্স</th>
	<td><%=becmuser.mefulltimemscmaleteacher %></td>
	<td><%=becmuser.mefulltimemscfemaleteacher %></td>
	<td><%=(becmuser.mefulltimemscmaleteacher+becmuser.mefulltimemscfemaleteacher) %></td>
	<td><%=becmuser.meparttimemscmaleteacher %></td>
	<td><%=becmuser.meparttimemscfemaleteacher %></td>
	<td><%=(becmuser.meparttimemscmaleteacher+becmuser.meparttimemscfemaleteacher) %></td>
</tr>

<tr>
	<th>স্নাতক/স্নাতক(সম্মান)</th>
	<td><%=becmuser.mefulltimebscmaleteacher %></td>
	<td><%=becmuser.mefulltimebscfemaleteacher %></td>
	<td><%=(becmuser.mefulltimebscmaleteacher+becmuser.mefulltimebscfemaleteacher)%></td>
	<td><%=becmuser.meparttimebscmaleteacher %></td>
	<td><%=becmuser.meparttimebscfemaleteacher %></td>
	<td><%=(becmuser.meparttimebscmaleteacher+becmuser.meparttimebscfemaleteacher) %></td>
</tr>

<tr>
	<th>অন্যান্য (যদি থাকে)</th>
	<td><%=becmuser.mefulltimeothermaleteacher %></td>
	<td><%=becmuser.mefulltimeotherfemaleteacher %></td>
	<td><%=(becmuser.mefulltimeothermaleteacher+becmuser.mefulltimeotherfemaleteacher)%></td>
	<td><%=becmuser.meparttimeothermaleteacher %></td>
	<td><%=becmuser.meparttimeotherfemaleteacher %></td>
	<td><%=(becmuser.meparttimeothermaleteacher+becmuser.meparttimeotherfemaleteacher)%></td>
</tr>
</table>
<br>

<h3>বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগের গবেষণা ও প্রকাশনাঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>গবেষণা/প্রকাশনা(প্রকাশিত ও অপ্রকাশিত) এর বিবরণ</th>
	<th>সংখ্যা</th>
</tr>
<tr>
	<th rowspan="10">পুরকৌশল অনুষদ </th>
	<th rowspan="10">বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগ</th>
	<th>নিজস্ব ও সরকারিখাতে অর্থায়নে পরিচালিত গবেষণা প্রকল্প </th>
	<td><%=becmuser.meresearch1 %></td>
</tr>
<tr>
	<th>দেশের বিভিন্ন সরকারি ও বেসরকারি প্রতিষ্ঠানের আর্থিক সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<td><%=becmuser.meresearch2 %></td>
</tr>
<tr>
	<th>বিদেশী সংস্থার সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<td><%=becmuser.meresearch3 %></td>
</tr>
<tr>
	<th>মাস্টার্স পর্যায়ে অভিসন্দর্ভ</th>
	<td><%=becmuser.meresearch4 %></td>
</tr>
<tr>
	<th>এমফিল পর্যায়ে অভিসন্দর্ভ</th>
	<td><%=becmuser.meresearch5 %></td>
</tr>
<tr>
	<th>পিএইচডি পর্যায়ে অভিসন্দর্ভ</th>
	<td><%=becmuser.meresearch6 %></td>
</tr>
<tr>
<th>পিয়ার রিভিউকৃত দেশী এবং বিদেশী সাময়িকীতে প্রকাশিত প্রবন্ধ Journal and Conference</th>
<td><%=becmuser.mejournal %><br><hr><%=becmuser.meconference %></td>
</tr>
<tr>
	<th>প্রকাশিত পিয়ার রিভিউকৃত সাময়িকী</th>
	<td><%=becmuser.meresearch8 %></td>
</tr>
<tr>
	<th>প্রকাশিত বই</th>
	<td><%=becmuser.meresearch9 %></td>
</tr>
<tr>
	<th>প্রকাশিত ইলেকট্রনিক বই/সাময়িকী</th>
	<td><%=becmuser.meresearch10 %></td>
</tr>
</table><br>
<h3>
<a href="becmuser/<%=becmuser._id %>/edit">Update</a>
<a href="becmuser/<%=becmuser._id %>/delete">Delete</a>
</h3>
<br>
</div>
</body>
</html>