<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/chemistry">insert</a></li>
    <li>
      <form action="/chemistrydata" method="GET">
        <input type="number" name="chemistrysession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/chemistrylogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<form action="/chemistryuser/<%=chemistryuser._id %>" method="post">

<h3>রসায়ন বিভাগের শিক্ষার্থীঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th>মোট আসন সংখা</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">অ্যাপ্লায়েড সায়েন্স এন্ড হিউম্যানিটিজ অনুষদ</th>
	<th rowspan="4">রসায়ন বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="metotalbscstudent" value="<%=chemistryuser.metotalbscstudent%>"></th>
	<th><input type="number" name="memalebscstudent" value="<%=chemistryuser.memalebscstudent%>"></th>
	<th><input type="number" name="mefemalebscstudent" value="<%=chemistryuser.mefemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="metotalmscstudent" value="<%=chemistryuser.metotalmscstudent%>"></th>
	<th><input type="number" name="memalemscstudent" value="<%=chemistryuser.memalemscstudent%>"></th>
	<th><input type="number" name="mefemalemscstudent" value="<%=chemistryuser.mefemalemscstudent%>"></th>
</tr>
<tr>
    <th>এমফিল/সমমান</th>
	<th><input type="number" name="metotalmfilstudent" value="<%=chemistryuser.metotalmfilstudent%>"></th>
	<th><input type="number" name="memalemfilstudent" value="<%=chemistryuser.memalemfilstudent%>"></th>
	<th><input type="number" name="mefemalemfilstudent" value="<%=chemistryuser.mefemalemfilstudent%>"></th>	
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="metotalphdstudent" value="<%=chemistryuser.metotalphdstudent%>"></th>
	<th><input type="number" name="memalephdstudent" value="<%=chemistryuser.memalephdstudent%>"></th>
	<th><input type="number" name="mefemalephdstudent" value="<%=chemistryuser.mefemalephdstudent%>"></th>
</tr>
</table>
<br><br>


<h3>রসায়ন বিভাগের শিক্ষার্থী(বিদেশী শিক্ষার্থীসহ)</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
	<th></th>
	<th></th>
	<th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
    <th rowspan="4">অ্যাপ্লায়েড সায়েন্স এন্ড হিউম্যানিটিজ অনুষদ</th>
	<th rowspan="4">রসায়ন বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="meforeignmalebscstudent" value="<%=chemistryuser.meforeignmalebscstudent%>"></th>
	<th><input type="number" name="meforeignfemalebscstudent" value="<%=chemistryuser.meforeignfemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="meforeignmalemscstudent" value="<%=chemistryuser.meforeignmalemscstudent%>"></th>
	<th><input type="number" name="meforeignfemalemscstudent" value="<%=chemistryuser.meforeignfemalemscstudent%>"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="meforeignmalemfilstudent" value="<%=chemistryuser.meforeignmalemfilstudent%>"></th>
	<th><input type="number" name="meforeignfemalemfilstudent" value="<%=chemistryuser.meforeignfemalemfilstudent%>"></th>
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="meforeignmalephdstudent" value="<%=chemistryuser.meforeignmalephdstudent%>"></th>
	<th><input type="number" name="meforeignfemalephdstudent" value="<%=chemistryuser.meforeignfemalephdstudent%>"></th>
</tr>
</table>
<br>

<h3>রসায়ন বিভাগের ডিগ্রিভিত্তিক শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th rowspan="2">ডিগ্রি</th>
	<th colspan="2">পূর্ণকালিন  শিক্ষক সংখ্যা</th>
	<th colspan="2">খন্ডকালিন  শিক্ষক সংখ্যা</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="mefulltimemfilmaleteacher" value="<%=chemistryuser.mefulltimemfilmaleteacher%>"></th>
	<th><input type="number" name="mefulltimemfilfemaleteacher" value="<%=chemistryuser.mefulltimemfilfemaleteacher%>"></th>
	<th><input type="number" name="meparttimemfilmaleteacher" value="<%=chemistryuser.meparttimemfilmaleteacher%>"></th>
	<th><input type="number" name="meparttimemfilfemaleteacher" value="<%=chemistryuser.meparttimemfilfemaleteacher%>"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="mefulltimephdmaleteacher" value="<%=chemistryuser.mefulltimephdmaleteacher%>"></th>
	<th><input type="number" name="mefulltimephdfemaleteacher" value="<%=chemistryuser.mefulltimephdfemaleteacher%>"></th>
	<th><input type="number" name="meparttimephdmaleteacher" value="<%=chemistryuser.meparttimephdmaleteacher%>"></th>
	<th><input type="number" name="meparttimephdfemaleteacher" value="<%=chemistryuser.meparttimephdfemaleteacher%>"></th>
</tr>

<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="mefulltimemscmaleteacher" value="<%=chemistryuser.mefulltimemscmaleteacher%>"></th>
	<th><input type="number" name="mefulltimemscfemaleteacher" value="<%=chemistryuser.mefulltimemscfemaleteacher%>"></th>
	<th><input type="number" name="meparttimemscmaleteacher" value="<%=chemistryuser.meparttimemscmaleteacher%>"></th>
	<th><input type="number" name="meparttimemscfemaleteacher" value="<%=chemistryuser.meparttimemscfemaleteacher%>"></th>
</tr>

<tr>
	<th>স্নাতক/স্নাতক(সম্মান)</th>
	<th><input type="number" name="mefulltimebscmaleteacher" value="<%=chemistryuser.mefulltimebscmaleteacher%>"></th>
	<th><input type="number" name="mefulltimebscfemaleteacher" value="<%=chemistryuser.mefulltimebscfemaleteacher%>"></th>
	<th><input type="number" name="meparttimebscmaleteacher" value="<%=chemistryuser.meparttimebscmaleteacher%>"></th>
	<th><input type="number" name="meparttimebscfemaleteacher" value="<%=chemistryuser.meparttimebscfemaleteacher%>"></th>
</tr>

<tr>
	<th>অন্যান্য (যদি থাকে)</th>
	<th><input type="number" name="mefulltimeothermaleteacher" value="<%=chemistryuser.mefulltimeothermaleteacher%>"></th>
	<th><input type="number" name="mefulltimeotherfemaleteacher" value="<%=chemistryuser.mefulltimeotherfemaleteacher%>"></th>
	<th><input type="number" name="meparttimeothermaleteacher" value="<%=chemistryuser.meparttimeothermaleteacher%>"></th>
	<th><input type="number" name="meparttimeotherfemaleteacher" value="<%=chemistryuser.meparttimeotherfemaleteacher%>"></th>
</tr>
</table>
<br>

<h3>রসায়ন বিভাগের গবেষণা ও প্রকাশনাঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>গবেষণা/প্রকাশনা(প্রকাশিত ও অপ্রকাশিত) এর বিবরণ</th>
	<th>সংখ্যা</th>
</tr>
<tr>
	<th rowspan="10">অ্যাপ্লায়েড সায়েন্স এন্ড হিউম্যানিটিজ অনুষদ</th>
	<th rowspan="10">রসায়ন বিভাগ</th>
	<th>নিজস্ব ও সরকারিখাতে অর্থায়নে পরিচালিত গবেষণা প্রকল্প </th>
	<th><input type="number" name="meresearch1" value="<%=chemistryuser.meresearch1%>"></th>
</tr>
<tr>
	<th>দেশের বিভিন্ন সরকারি ও বেসরকারি প্রতিষ্ঠানের আর্থিক সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="meresearch2" value="<%=chemistryuser.meresearch2%>"></th>
</tr>
<tr>
	<th>বিদেশী সংস্থার সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="meresearch3" value="<%=chemistryuser.meresearch3%>"></th>
</tr>
<tr>
	<th>মাস্টার্স পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch4" value="<%=chemistryuser.meresearch4%>"></th>
</tr>
<tr>
	<th>এমফিল পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch5" value="<%=chemistryuser.meresearch5%>"></th>
</tr>
<tr>
	<th>পিএইচডি পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch6" value="<%=chemistryuser.meresearch6%>"></th>
</tr>
<tr>
<th>পিয়ার রিভিউকৃত দেশী এবং বিদেশী সাময়িকীতে প্রকাশিত প্রবন্ধ Journal and Conference</th>
<th><input type="number" name="mejournal" value="<%=chemistryuser.mejournal%>"><br>
    <input type="number" name="meconference" value="<%=chemistryuser.meconference%>">
</th>
</tr>
<tr>
	<th>প্রকাশিত পিয়ার রিভিউকৃত সাময়িকী</th>
	<th><input type="number" name="meresearch8" value="<%=chemistryuser.meresearch8%>"></th>
</tr>
<tr>
	<th>প্রকাশিত বই</th>
	<th><input type="number" name="meresearch9" value="<%=chemistryuser.meresearch9%>"></th>
</tr>
<tr>
	<th>প্রকাশিত ইলেকট্রনিক বই/সাময়িকী</th>
	<th><input type="number" name="meresearch10" value="<%=chemistryuser.meresearch10%>"></th>
</tr>
</table><br>
<button type="submit">update</button>
</form>
<br>
</div>
</body>
</html>