<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/commite">insert</a></li>
    <li>
      <form action="/commitedata" method="GET">
        <input type="number" name="commitesession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/commitelogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<h3>মুলবিষয়ভিত্তিক পরিসংখ্যান</h3>
<table border="1" width="900" align="center">
  <tr>
    <th>মুল বিষয়</th>
    <th>ছাত্র</th>
    <th>ছাত্রী</th>
    <th>মোট</th>
  </tr>
  <tr>
    <th>কলা ও মানবিক</th>
    <td><%=commiteuser.artsmalestudent%></td>
    <td><%=commiteuser.artsfemalestudent%></td>
    <td><%=(commiteuser.artsmalestudent+commiteuser.artsfemalestudent)%></td>
  </tr>
  <tr>
    <th>সামাজিক বিজ্ঞান</th>
    <td><%=commiteuser.socialsciencemalestudent%></td>
    <td><%=commiteuser.socialsciencefemalestudent%></td>
    <td><%=(commiteuser.socialsciencemalestudent+commiteuser.socialsciencefemalestudent)%></td>
  </tr>
  <tr>
    <th>শিক্ষা</th>
    <td><%=commiteuser.educationmalestudent%></td>
    <td><%=commiteuser.educationfemalestudent%></td>
    <td><%=(commiteuser.educationmalestudent+commiteuser.educationfemalestudent)%></td>
  </tr>
  <tr>
    <th>ব্যবসায় প্রশাসন/ব্যবসায় শিক্ষা</th>
    <td><%=commiteuser.commercemalestudent%></td>
    <td><%=commiteuser.commercefemalestudent%></td>
    <td><%=(commiteuser.commercemalestudent+commiteuser.commercefemalestudent)%></td>
  </tr>
  <tr>
    <th>আইন</th>
    <td><%=commiteuser.lawmalestudent%></td>
    <td><%=commiteuser.lawfemalestudent%></td>
    <td><%=(commiteuser.lawmalestudent+commiteuser.lawfemalestudent)%></td>
  </tr>
  <tr>
    <th>ফার্মেসী</th>
    <td><%=commiteuser.farmecymalestudent%></td>
    <td><%=commiteuser.farmecyfemalestudent%></td>
    <td><%=(commiteuser.farmecymalestudent+commiteuser.farmecyfemalestudent)%></td>  
  </tr>
  <tr>
    <th>বিজ্ঞান</th>
    <td><%=commiteuser.sciencemalestudent%></td>
    <td><%=commiteuser.sciencefemalestudent%></td>
    <td><%=(commiteuser.sciencemalestudent+commiteuser.sciencefemalestudent)%></td>
  </tr>
  <tr>
    <th>চিকিৎসা</th>
    <td><%=commiteuser.advicemalestudent%></td>
    <td><%=commiteuser.advicefemalestudent%></td>
    <td><%=(commiteuser.advicemalestudent+commiteuser.advicefemalestudent)%></td>
  </tr>
  <tr>
    <th>কৃষি</th>
    <td><%=commiteuser.agriculturemalestudent%></td>
    <td><%=commiteuser.agriculturefemalestudent%></td>
    <td><%=(commiteuser.agriculturemalestudent+commiteuser.agriculturefemalestudent)%></td>
  </tr>
  <tr>
    <th>প্রকৌশল ও কারিগরি</th>
    <td><%=commiteuser.engineeringmalestudent%></td>
    <td><%=commiteuser.engineeringfemalestudent%></td>
    <td><%=(commiteuser.engineeringmalestudent+commiteuser.engineeringfemalestudent)%></td>
  </tr>
  <tr>
    <th>অন্যান্য(ডিপ্লোমা/সার্টিফিকেট)</th>
    <td><%=commiteuser.othermalestudent%></td>
    <td><%=commiteuser.otherfemalestudent%></td>
    <td><%=(commiteuser.othermalestudent+commiteuser.otherfemalestudent)%></td>
  </tr>
</table>
<br><br>
<h3>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমি ও অন্যান্য বিষয়ভিত্তিক শিক্ষক-শিক্ষার্থীর অনুপাতঃ</h3>
<table border="1" width="900" align="center" class="table2">
  <tr>
    <th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
      <th>বিভাগের নাম</th>
    <th>মোট শিক্ষক</th>
    <th>ছাত্র</th>
    <th>ছাত্রী</th>
    <th>মোট শিক্ষার্থী</th>
    <th>শিক্ষকঃশিক্ষার্থী</th>
  </tr>

  <tr>
      <th rowspan="4">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
      <th>তড়িৎ ও ইলেকট্রনিক প্রকৌশল বিভাগ</th>
      <td><%=commiteuser.totaleeeteacher%></td>
      <td><%=commiteuser.eeemalestudent%></td>
      <td><%=commiteuser.eeefemalestudent%></td>
      <td><%=commiteuser.totaleeestudent%></td>
      <td rowspan="4"><%=commiteuser.eeeteacheronupatstudent%></td>
  </tr>

  <tr>
     <th>কম্পিউটার সায়েন্স এন্ড ইঞ্জনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalcseteacher%></td>
     <td><%=commiteuser.csemalestudent%></td>
     <td><%=commiteuser.csefemalestudent%></td>
     <td><%=commiteuser.totalcsestudent%></td>
  </tr>

  <tr>
     <th>ইলেকট্রনিক্স এন্ড টেলিকমিউনিকেশন ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totaleteteacher%></td>
     <td><%=commiteuser.etemalestudent%></td>
     <td><%=commiteuser.etefemalestudent%></td>
     <td><%=commiteuser.totaletestudent%></td>
  </tr>
  <tr>
     <th>ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totaleceteacher%></td>
     <td><%=commiteuser.ecemalestudent%></td>
     <td><%=commiteuser.ecefemalestudent%></td>
     <td><%=commiteuser.totalecestudent%></td>
  </tr>
  <tr>
     <th rowspan="6">যন্ত্রকৌশল অনুষদ </th>
     <th>যন্ত্রকৌশল বিভাগ</th>
     <td><%=commiteuser.totalmeteacher%></td>
     <td><%=commiteuser.memalestudent%></td>
     <td><%=commiteuser.mefemalestudent%></td>
     <td><%=commiteuser.totalmestudent%></td>
     <td rowspan="6"><%=commiteuser.meteacheronupatstudent%></td>
  </tr>
  <tr>
     <th>ইন্ডাস্ট্রিয়াল এন্ড প্রোডাকশন ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalipeteacher%></td>
     <td><%=commiteuser.ipemalestudent%></td>
     <td><%=commiteuser.ipefemalestudent%></td>
     <td><%=commiteuser.totalipestudent%></td>
  </tr>
  <tr>
     <th>গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalgceteacher%></td>
     <td><%=commiteuser.gcemalestudent%></td>
     <td><%=commiteuser.gcefemalestudent%></td>
     <td><%=commiteuser.totalgcestudent%></td>
  </tr>
  <tr>
     <th>মেকাট্রনিক্স ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalmteteacher%></td>
     <td><%=commiteuser.mtemalestudent%></td>
     <td><%=commiteuser.mtefemalestudent%></td>
     <td><%=commiteuser.totalmtestudent%></td>
  </tr>
  <tr>
     <th>মেটেরিয়্যাল সায়েন্স এন্ড ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalmseteacher%></td>
     <td><%=commiteuser.msemalestudent%></td>
     <td><%=commiteuser.msefemalestudent%></td>
     <td><%=commiteuser.totalmsestudent%></td>
  </tr>
  <tr>
     <th>কেমিক্যাল এন্ড ফুড প্রোসেস ইঞ্জিনিয়ারিং বিভাগ</th>
     <td><%=commiteuser.totalcfpeteacher%></td>
     <td><%=commiteuser.cfpemalestudent%></td>
     <td><%=commiteuser.cfpefemalestudent%></td>
     <td><%=commiteuser.totalcfpestudent%></td>
  </tr>
  <tr>
     <th rowspan="4">পুরকৌশল অনুষদ </th>
     <th>পুরকৌশল বিভাগ</th>
     <td><%=commiteuser.totalceteacher%></td>
     <td><%=commiteuser.cemalestudent%></td>
     <td><%=commiteuser.cefemalestudent%></td>
     <td><%=commiteuser.totalcestudent%></td>
     <td rowspan="4"><%=commiteuser.ceteacheronupatstudent%></td>
  </tr>
  <tr>
     <th>আর্কিটেকচার বিভাগ</th>
     <td><%=commiteuser.totalarchiteacher%></td>
     <td><%=commiteuser.archimalestudent%></td>
     <td><%=commiteuser.archimalestudent%></td>
     <td><%=commiteuser.totalarchistudent%></td>
  </tr>
  <tr>
     <th>আরবান এন্ড রিজিওনাল প্লানিং বিভাগ</th>
     <td><%=commiteuser.totalurpteacher%></td>
     <td><%=commiteuser.urpmalestudent%></td>
     <td><%=commiteuser.urpfemalestudent%></td>
     <td><%=commiteuser.totalurpstudent%></td>
  </tr>
  <tr>
     <th>বিল্ডিং ইঞ্জিনিয়ারিং এন্ড কনসট্রাকসন মেনেজমেন্ট বিভাগ</th>
     <td><%=commiteuser.totalbecmteacher%></td>
     <td><%=commiteuser.becmmalestudent%></td>
     <td><%=commiteuser.becmfemalestudent%></td>
     <td><%=commiteuser.totalbecmstudent%></td>
  </tr>
  <tr>
     <th rowspan="4">অ্যাপ্লায়েড সায়েন্স এন্ড হিউম্যানিটিজ অনুষদ </th>
     <th>গণিত বিভাগ</th>
     <td><%=commiteuser.totalmathteacher%></td>
     <td><%=commiteuser.mathmalestudent%></td>
     <td><%=commiteuser.mathfemalestudent%></td>
     <td><%=commiteuser.totalmathstudent%></td>
     <td rowspan="4"><%=commiteuser.mathteacheronupatstudent%></td>
  </tr>
  <tr>
     <th>পদার্থ বিভাগ</th>
     <td><%=commiteuser.totalphysicsteacher%></td>
     <td><%=commiteuser.physicsmalestudent%></td>
     <td><%=commiteuser.physicsfemalestudent%></td>
     <td><%=commiteuser.totalphysicsstudent%></td>
  </tr>
  <tr>
     <th>রসায়ন বিভাগ</th>
     <td><%=commiteuser.totalchemistryteacher%></td>
     <td><%=commiteuser.chemistrymalestudent%></td>
     <td><%=commiteuser.chemistryfemalestudent%></td>
     <td><%=commiteuser.totalchemistrystudent%></td>
  </tr>
  <tr>
     <th>মানবিক বিভাগ</th>
     <td><%=commiteuser.totalhumteacher%></td>
     <td><%=commiteuser.hummalestudent%></td>
     <td><%=commiteuser.humfemalestudent%></td>
     <td><%=commiteuser.totalhumstudent%></td>
  </tr>
</table>
<br>
<h3>শিক্ষক,কর্মকর্তা,কর্মচারী ও শিক্ষার্থীর অনুপাতঃ</h3>
<table border="1" width="900" align="center">
  <tr>
    <th>শিক্ষকঃশিক্ষার্থী </th>
    <th>কর্মকর্তাঃশিক্ষার্থী</th>
    <th>কর্মচারীঃশিক্ষার্থী</th>
  </tr>
  <tr>
    <td><%=commiteuser.teacheronupatstudent%></td>
    <td><%=commiteuser.officeronupatstudent%></td>
    <td><%=commiteuser.employeonupatstudent%></td>
  </tr>
</table>
<br>
<h3>এক নজরে বিশ্ববিদ্যালয়ের উল্লেখযোগ্য তথ্যঃ</h3>
<table border="1" width="900" align="center">
    <tr>
      <th>বিশ্ববিদ্যালয়ের উল্লেখযোগ্য তথ্য পরিসংখ্যানঃ</th>
      <th></th>
      <th>শিক্ষক পরিসংখ্যানঃ</th>
      <th></th>
    </tr>
    <tr>
      <th>নিজস্ব জমির পরিমান(একর)-</th>
      <td><%=commiteuser.totalland%></td>
      <th>মোট শিক্ষক</th>
      <td><%=commiteuser.totalteacher%></th>
    </tr>
    <tr>
      <th>ছাত্রাবাস-</th>
      <td><%=commiteuser.totalhall%></td>
      <th>মোট মহিলা শিক্ষক-</th>
      <td><%=commiteuser.totalfemaleteacher%></td>
    </tr>
    <tr>
      <th>মোট অনুষদ সংখ্যা-</th>
      <td><%=commiteuser.totalfaculty%></td>
      <th>খন্ডকালীন/চুক্তিভিত্তিক/এডহক শিক্ষক-</th>
      <td><%=commiteuser.parttimeteacher%></td>
    </tr>
    <tr>
      <th>মোট বিভাগ সংখ্যা-</th>
      <td><%=commiteuser.totaldepartment%></td>
      <th>পিএইচডি/সমমান ডিগ্রী শিক্ষক-</th>
      <td><%=commiteuser.totalphdteacher%></td>
    </tr>
    <tr>
      <th>মোট ইনস্টিটিঊট সংখ্যা-</th>
      <td><%=commiteuser.totalinstitute%></td>
      <th>অধ্যাপক-</th>
      <td><%=commiteuser.totalprofessor%></td>
    </tr>
    <tr>
      <th>মোট অভিভুক্ত ও অঙ্গীভুক্ত কলেজ/মাদ্রাসার সংখ্যা-</th>
      <td><%=commiteuser.totalcollage%></td>
      <th>সহযোগী অধ্যাপক-</th>
      <td><%=commiteuser.tatalassociateproffesor%></td>
    </tr>
    <tr>
      <th>ভর্তিকৃত শিক্ষার্থী পরিসংখানঃ</th>
      <th></th>
      <th>সহকারী অধ্যাপক- </th>
      <td><%=commiteuser.asistantproffesor%></td>
    </tr>
    <tr>
      <th>মোট আসন সংখ্যা-</th>
      <td><%=commiteuser.totalseat%></td>
      <th>প্রভাষক-</th>
      <td><%=commiteuser.totallecturar%></td>
    </tr>
    <tr>
      <th>ভরতিকৃত শিক্ষার্থী সংখ্যা- </th>
      <td><%=commiteuser.totaladmissionstudent%></td>
      <th>অনুমোদিত অনুপস্থিত শিক্ষক-</th>
      <td><%=commiteuser.approveabsentteacher%></td>
    </tr>
    <tr>
      <th>মোট ছাত্রী সংখ্যা-</th>
      <td><%=commiteuser.totalfemalestudent%></td>
      <th>অননুমোদিত অনুপস্থিত শিক্ষক-</th>
      <td><%=commiteuser.unapprovedteacher%></td>
    </tr>
    <tr>
      <th>অধ্যয়নরত মোট শিক্ষার্থী পরিসংখ্যানঃ</th>
      <th></th>
      <th>কর্মকর্তা ও কর্মচারীদের পরিসংখ্যানঃ</th>
      <th></th>
    </tr> 
    <tr>
      <th>মোট শিক্ষার্থী সংখ্যা-</th>
      <td><%=commiteuser.totalstudents%></td>
      <th>কর্মকর্তার সংখ্যা-</th>
      <td><%=commiteuser.employeenum%></td>
    </tr>

    <tr>
      <th></th>
      <th></th>
      <th>কর্মচারীর সংখ্যা-</th>
      <td><%=commiteuser.totalemployeenum%></td>
    </tr>

    <tr>
      <th>স্নাতক পর্যায়ে -</th>
      <td><%=commiteuser.totalbscstudents%></td>
      <th>শিক্ষক-শিক্ষার্থী অনুপাত-</th>
      <td><%=commiteuser.teacherstudentsratio%></td>
    </tr>

    <tr>
      <th>স্নাতক সম্মান পর্যায়ে-</th>
      <td><%=commiteuser.totalbscsnexttudents%></td>
      <th>কর্মকর্তা-শিক্ষার্থী অনুপাত-</th>
      <td><%=commiteuser.employeestudentsratio%></td>
    </tr>
    

    <tr>
      <th>স্নাতকোত্তর পর্যায়ে-</th>
      <td><%=commiteuser.totalbscsnexttotudents%></td>
      <th>কর্মচারী-শিক্ষার্থী অনুপাত-</th>
      <td><%=commiteuser.totalemployeestudentsratio%></td>
    </tr>

    <tr>
      <th>এমফিল পিএইচডি ও অন্যান্য উচ্চতর পর্যায়ে-</th>
      <td><%=commiteuser.mphilphdtotudents%></td>
      <th>আবাসিক পরিসংখ্যানঃ</th>
      <th></th>
    </tr>
    
    <tr>
      <th>মুল বিষয়ভিত্তিক শিক্ষার্থী পরিসংখ্যানঃ</th>
      <th></th>
      <th>ছাত্র</th>
      <td><%=commiteuser.residencemale%></td>
    </tr>
     
    <tr>
      <th>কলা ও মানবিক-</th>
      <td><%=commiteuser.hum%></td>
      <th>ছাত্রী-</th>
      <td><%=commiteuser.residencefemale%></td>
    </tr>

    <tr>
      <th>সামাজিক বিজ্ঞান-</th>
      <td><%=commiteuser.socialscience%></td>
      <th>আবাসিক শিক্ষক-</th>
      <td><%=commiteuser.residenceteacher%></td>
    </tr>

    <tr>
      <th>শিক্ষা-</th>
      <td><%=commiteuser.education%></td>
      <th>কর্মকর্তা-</th>
      <td><%=commiteuser.residenceemployee%></td>
    </tr>    

    <tr>
      <th>ব্যাবসায় প্রশাসন-</th>
      <td><%=commiteuser.management%></td>
      <th>কর্মচারী-</th>
      <td><%=commiteuser.residenceemployeer%></td>
    </tr>


     <tr>
      <th>আইন-</th>
      <td><%=commiteuser.law%></td>
      <th>সর্বমোট ব্যায়ঃ (লক্ষ টাকায়)</th>
      <th></th>
    </tr>

    <tr>
      <th>ফার্মেসী-</th>
      <td><%=commiteuser.phermacy%></td>
      <th>রাজস্ব ও উন্নয়ন-</th>
      <td><%=commiteuser.vatdevelopement%></td>
    </tr>

    <tr>
      <th>বিজ্ঞান-</th>
      <td><%=commiteuser.science%></td>
      <th>নিজস্ব আয়-</th>
      <td><%=commiteuser.selfincome%></td>
    </tr>


    <tr>
      <th>চিকিৎসা-</th>
      <td><%=commiteuser.medical%></td>
      <th>অন্যান্য-</th>
      <td><%=commiteuser.others%></td>
    </tr>

    <tr>
      <th>কৃষি-</th>
      <td><%=commiteuser.agri%></td>
      <th>শিক্ষাখাত-</th>
      <td><%=commiteuser.edu%></td>
    </tr>


    <tr>
      <th>প্রকৌশল ও কারিগরি-</th>
      <td><%=commiteuser.engineering%></td>
      <th>গবেষণা খাত-</th>
      <td><%=commiteuser.research%></td>
    </tr>
     

    <tr>
      <th>অন্যান্য-</th>
      <td><%=commiteuser.others1%></td>
      <th>গবেষণা বৃত্তি-</th>
      <td><%=commiteuser.researchstipend%></td>
    </tr>


    <tr>
      <th>ডিগ্রিভিত্তিক উত্তীর্ণ শিক্ষার্থীর পরিসংখ্যানঃ</th>
      <th></th>
      <th>বেতন ভাতা খাত-</th>
      <td><%=commiteuser.salary%></th>
    </tr>
     
    <tr>
      <th>স্নাতক পাস-</th>
      <td><%=commiteuser.masters%></td>
      <th>পরিবহন খাত-</th>
      <td><%=commiteuser.transportsec%></td>
    </tr>

    <tr>
      <th>স্নাতক সম্মান-</th>
      <td><%=commiteuser.masterspass%></td>
      <th>বিদ্যুৎ খাত-</th>
      <td><%=commiteuser.electricsection%></td>
    </tr>

    <tr>
      <th>স্নাতক(কারিগরি ও প্রযুক্তি)-</th>
      <td><%=commiteuser.masterstechnical%></td>
      <th>অবকাঠামো উন্নয়ন ও রক্ষণাবেক্ষণ-</th>
      <td><%=commiteuser.infrasturctures%></td>
    </tr>

    <tr>
      <th>স্নাতকোত্তর-</th>
      <td><%=commiteuser.masterspasssss%></td>
      <th>চিকিৎসা খাত-</th>
      <td><%=commiteuser.medicalsection%></td>
    </tr>

    <tr>
      <th>স্নাতকোত্তর(কারিগরি ও প্রযুক্তি)-</th>
      <td><%=commiteuser.masterspassssstechnical%></td>
      <th>অন্যান্য-</th>
      <td><%=commiteuser.otherssection%></td>
    </tr>

    <tr>
      <th>এমফিল পিএইচডি ও অন্যান্য পর্যায়ে-</th>
      <td><%=commiteuser.mastersmphilothers%></td>
      <th>গ্রন্থাগারে বই পাঠোপকরনের বিবরণ </th>
      <th></th>
    </tr>
    <tr>
      <th>সার্টিফিকেট, ডিপ্লোমা-</th>
      <td><%=commiteuser.certificate%></td>
      <th>গ্রন্থাগারে সামগ্রীর মোট মজুদ সংখ্যা-</th>
      <td><%=commiteuser.libarysec%></td>
    </tr>
     
     <tr>
      <th>শিক্ষার্থী প্রতি মাথাপিছু ব্যয় পরিসংখ্যানঃ</th>
      <th></th>
      <th>সংগ্রহীত সংখ্যা(Acquisition)-</th>
      <td><%=commiteuser.collectionnumber%></td>
    </tr>


    <tr>
      <th>অস্বাভাবিক পরিস্থিতির জন্য ক্লাস না হওয়া দিন-</th>
      <td><%=commiteuser.suspendclassday%></td>
      <th>পরিচালিত গবেষণা প্রকল্পের পরিসংখ্যানঃ</th>
      <td><%=commiteuser.researchcollectionnumber%></td>
    </tr>
</table><br>
<h3>
<a href="commiteuser/<%=commiteuser._id %>/edit">Update</a>
<a href="commiteuser/<%=commiteuser._id %>/delete">Delete</a>
</h3>
<br>
</div>
</body>
</html>