<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/ete">insert</a></li>
    <li>
      <form action="/ecedata" method="GET">
        <input type="number" name="ecesession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/ecelogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<form action="/eceuser/<%=eceuser._id %>" method="post">
<h3>ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগের শিক্ষার্থীঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th>মোট আসন সংখা</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="4">ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="ecetotalbscstudent" value="<%=eceuser.ecetotalbscstudent %>"></th>
	<th><input type="number" name="ecemalebscstudent" value="<%=eceuser.ecemalebscstudent%>"></th>
	<th><input type="number" name="ecefemalebscstudent" value="<%=eceuser.ecefemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="ecetotalmscstudent" value="<%=eceuser.ecetotalmscstudent%>"></th>
	<th><input type="number" name="ecemalemscstudent" value="<%=eceuser.ecemalemscstudent%>"></th>
	<th><input type="number" name="ecefemalemscstudent" value="<%=eceuser.ecefemalemscstudent%>"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="ecetotalmfilstudent" value="<%=eceuser.ecetotalmfilstudent%>"></th>
	<th><input type="number" name="ecemalemfilstudent" value="<%=eceuser.ecemalemfilstudent%>"></th>
	<th><input type="number" name="ecefemalemfilstudent" value="<%=eceuser.ecefemalemfilstudent%>"></th>
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="ecetotalphdstudent" value="<%=eceuser.ecetotalphdstudent%>"></th>
	<th><input type="number" name="ecemalephdstudent" value="<%=eceuser.ecemalephdstudent%>"></th>
	<th><input type="number" name="ecefemalephdstudent" value="<%=eceuser.ecefemalephdstudent%>"></th>
</tr>
</table>
<br><br>

<h3>ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগের শিক্ষার্থী(বিদেশী শিক্ষার্থীসহ)</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
    <th></th>
    <th></th>
    <th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="4">ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="eceforeignmalebscstudent" value="<%=eceuser.eceforeignmalebscstudent%>"></th>
	<th><input type="number" name="eceforeignfemalebscstudent" value="<%=eceuser.eceforeignfemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="eceforeignmalemscstudent" value="<%=eceuser.eceforeignmalemscstudent%>"></th>
	<th><input type="number" name="eceforeignfemalemscstudent" value="<%=eceuser.eceforeignfemalemscstudent%>"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="eceforeignmalemfilstudent" value="<%=eceuser.eceforeignmalemfilstudent%>"></th>
	<th><input type="number" name="eceforeignfemalemfilstudent" value="<%=eceuser.eceforeignfemalemfilstudent%>"></th>
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="eceforeignmalephdstudent" value="<%=eceuser.eceforeignmalephdstudent%>"></th>
	<th><input type="number" name="eceforeignfemalephdstudent" value="<%=eceuser.eceforeignfemalephdstudent%>"></th>
</tr>

</table>
<br><br>


<h3>ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগের ডিগ্রিভিত্তিক শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th rowspan="2">ডিগ্রি</th>
	<th colspan="2">পূর্ণকালিন  শিক্ষক সংখ্যা</th>
	<th colspan="2">খন্ডকালিন  শিক্ষক সংখ্যা</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="ecefulltimemfilmaleteacher" value="<%=eceuser.ecefulltimemfilmaleteacher%>"></th>
	<th><input type="number" name="ecefulltimemfilfemaleteacher" value="<%=eceuser.ecefulltimemfilfemaleteacher%>"></th>
	<th><input type="number" name="eceparttimemfilmaleteacher" value="<%=eceuser.eceparttimemfilmaleteacher%>"></th>
	<th><input type="number" name="eceparttimemfilfemaleteacher" value="<%=eceuser.eceparttimemfilfemaleteacher%>"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="ecefulltimephdmaleteacher" value="<%=eceuser.ecefulltimephdmaleteacher%>"></th>
	<th><input type="number" name="ecefulltimephdfemaleteacher" value="<%=eceuser.ecefulltimephdfemaleteacher%>"></th>
	<th><input type="number" name="eceparttimephdmaleteacher" value="<%=eceuser.eceparttimephdmaleteacher%>"></th>
	<th><input type="number" name="eceparttimephdfemaleteacher" value="<%=eceuser.eceparttimephdfemaleteacher%>"></th>
</tr>

<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="ecefulltimemscmaleteacher" value="<%=eceuser.ecefulltimemscmaleteacher%>"></th>
	<th><input type="number" name="ecefulltimemscfemaleteacher" value="<%=eceuser.ecefulltimemscfemaleteacher%>"></th>
	<th><input type="number" name="eceparttimemscmaleteacher" value="<%=eceuser.eceparttimemscmaleteacher%>"></th>
	<th><input type="number" name="eceparttimemscfemaleteacher" value="<%=eceuser.eceparttimemscfemaleteacher%>"></th>
</tr>

<tr>
	<th>স্নাতক/স্নাতক(সম্মান)</th>
	<th><input type="number" name="ecefulltimebscmaleteacher" value="<%=eceuser.ecefulltimebscmaleteacher%>"></th>
	<th><input type="number" name="ecefulltimebscfemaleteacher" value="<%=eceuser.ecefulltimebscfemaleteacher%>"></th>
	<th><input type="number" name="eceparttimebscmaleteacher" value="<%=eceuser.eceparttimebscmaleteacher%>"></th>
	<th><input type="number" name="eceparttimebscfemaleteacher" value="<%=eceuser.eceparttimebscfemaleteacher%>"></th>
</tr>

<tr>
	<th>অন্যান্য (যদি থাকে)</th>
	<th><input type="number" name="ecefulltimeothermaleteacher" value="<%=eceuser.ecefulltimeothermaleteacher%>"></th>
	<th><input type="number" name="ecefulltimeotherfemaleteacher" value="<%=eceuser.ecefulltimeotherfemaleteacher%>"></th>
	<th><input type="number" name="eceparttimeothermaleteacher" value="<%=eceuser.eceparttimeothermaleteacher%>"></th>
	<th><input type="number" name="eceparttimeotherfemaleteacher" value="<%=eceuser.eceparttimeotherfemaleteacher%>"></th>
</tr>
</table>
<br><br>

<h3>ইলেকট্রনিক্স এন্ড টেলিকমিউনিকেশন ইঞ্জিনিয়ারিং বিভাগের গবেষণা ও প্রকাশনাঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>গবেষণা/প্রকাশনা(প্রকাশিত ও অপ্রকাশিত) এর বিবরণ</th>
	<th>সংখ্যা</th>
</tr>
<tr>
	<th rowspan="10">তড়িৎ ও কম্পিউটার কৌশল অনুষদ </th>
	<th rowspan="10">ইলেক্ট্রিক্যাল এন্ড কম্পিউটার ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>নিজস্ব ও সরকারিখাতে অর্থায়নে পরিচালিত গবেষণা প্রকল্প </th>
	<th><input type="number" name="eceresearch1" value="<%=eceuser.eceresearch1%>"></th>
</tr>
<tr>
	<th>দেশের বিভিন্ন সরকারি ও বেসরকারি প্রতিষ্ঠানের আর্থিক সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="eceresearch2" value="<%=eceuser.eceresearch2%>"></th>
</tr>
<tr>
	<th>বিদেশী সংস্থার সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="eceresearch3" value="<%=eceuser.eceresearch3%>"></th>
</tr>
<tr>
	<th>মাস্টার্স পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eceresearch4" value="<%=eceuser.eceresearch4%>"></th>
</tr>
<tr>
	<th>এমফিল পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eceresearch5" value="<%=eceuser.eceresearch5%>"></th>
</tr>
<tr>
	<th>পিএইচডি পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="eceresearch6" value="<%=eceuser.eceresearch6%>"></th>
</tr>
<tr>
<th>পিয়ার রিভিউকৃত দেশী এবং বিদেশী সাময়িকীতে প্রকাশিত প্রবন্ধ</th>
<th><input type="number" name="eceresearch7" value="<%=eceuser.eceresearch7%>"></th>
</tr>
<tr>
	<th>প্রকাশিত পিয়ার রিভিউকৃত সাময়িকী</th>
	<th><input type="number" name="ecejournal" value="<%=eceuser.ecejournal%>"><br>
        <input type="number" name="ececonference" value="<%=eceuser.ececonference%>">
	</th>
</tr>
<tr>
	<th>প্রকাশিত বই</th>
	<th><input type="number" name="eceresearch9" value="<%=eceuser.eceresearch9%>"></th>
</tr>
<tr>
	<th>প্রকাশিত ইলেকট্রনিক বই/সাময়িকী</th>
	<th><input type="number" name="eceresearch10" value="<%=eceuser.eceresearch10%>"></th>
</tr>
</table><br>
<button type="submit">update</button>
</form>
<br>
</div>
</body>
</html>