<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	<style>
		.table1 tr th input{
			resize: horizontal;
			width: 105px;
		}
		.table2 tr th input{
			resize: horizontal;
			width: 215px;
		}
		.table3 tr th input{
			resize: horizontal;
			width: 215px;
		}
	</style>
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/foundationsection">insert</a></li>
    <li>
      <form action="/foundationsectiondata" method="GET">
        <input type="number" name="foundationsectionsession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/foundationsectionlogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<form action="/foundationsectionuser/<%=foundationsectionuser._id%>" method="post">
<p> সালঃ<input type="text" name="session"></p>

<h3>মোট পদ ভিত্তিক শিক্ষক সংখ্যাঃ</h3>
<table border="1" width="900" align="center" class="table1">
<tr>
	<th rowspan="2">পদ</th>
	<th rowspan="2">অনুমোদিত পদ সংখ্যা</th>
	<th colspan="2">পদে নিয়োজিত সংখ্যা</th>
	<th colspan="2">খন্ডকালিন/চুক্তিভিত্তিক/এডহক শিক্ষক সংখ্যা</th>
	<th colspan="2">মোট</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>প্রফেসর</th>
	<th><input type="number" name="totalprofessorapproveseat" value="<%=foundationsectionuser.totalprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemaleprofessor" value="<%=foundationsectionuser.approvemaleprofessor%>"></th>
	<th><input type="number" name="approvefemaleprofessor" value="<%=foundationsectionuser.approvefemaleprofessor%>"></th>
	<th><input type="number" name="parttimemaleprofessor" value="<%=foundationsectionuser.parttimemaleprofessor%>"></th>
	<th><input type="number" name="parttimefemaleprofessor" value="<%=foundationsectionuser.parttimefemaleprofessor%>"></th>
	<th><input type="number" name="totalmaleprofessor" value="<%=foundationsectionuser.totalmaleprofessor%>"></th>
	<th><input type="number" name="totalfemaleprofessor" value="<%=foundationsectionuser.totalfemaleprofessor%>"></th>
</tr>
<tr>
	<th>এসোসিয়েট প্রফেসর</th>
	<th><input type="number" name="totalassociateprofessorapproveseat" value="<%=foundationsectionuser.totalassociateprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemaleassociateprofessor" value="<%=foundationsectionuser.approvemaleassociateprofessor%>"></th>
	<th><input type="number" name="approvefemaleassociateprofessor" value="<%=foundationsectionuser.approvefemaleassociateprofessor%>"></th>
	<th><input type="number" name="parttimemaleassociateprofessor" value="<%=foundationsectionuser.parttimemaleassociateprofessor%>"></th>
	<th><input type="number" name="parttimefemaleassociateprofessor" value="<%=foundationsectionuser.parttimefemaleassociateprofessor%>"></th>
	<th><input type="number" name="totalmaleassociateprofessor" value="<%=foundationsectionuser.totalmaleassociateprofessor%>"></th>
	<th><input type="number" name="totalfemaleassociateprofessor" value="<%=foundationsectionuser.totalfemaleassociateprofessor%>"></th>
</tr>
<tr>
	<th>এসিস্ট্যান্ট প্রফেসর</th>
	<th><input type="number" name="totalassistantprofessorapproveseat" value="<%=foundationsectionuser.totalassistantprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemaleassistantprofessor" value="<%=foundationsectionuser.approvemaleassistantprofessor%>"></th>
	<th><input type="number" name="approvefemaleassistantprofessor" value="<%=foundationsectionuser.approvefemaleassistantprofessor%>"></th>
	<th><input type="number" name="parttimemaleassistantprofessor" value="<%=foundationsectionuser.parttimemaleassistantprofessor%>"></th>
	<th><input type="number" name="parttimefemaleassistantprofessor" value="<%=foundationsectionuser.parttimefemaleassistantprofessor%>"></th>
	<th><input type="number" name="totalmaleassistantprofessor" value="<%=foundationsectionuser.totalmaleassistantprofessor%>"></th>
	<th><input type="number" name="totalfemaleassistantprofessor" value="<%=foundationsectionuser.totalfemaleassistantprofessor%>"></th>
</tr>
<tr>
	<th>লেকচারার</th>
	<th><input type="number" name="totallecturarapproveseat" value="<%=foundationsectionuser.totallecturarapproveseat%>"></th>
	<th><input type="number" name="approvemalelecturar" value="<%=foundationsectionuser.approvemalelecturar%>"></th>
	<th><input type="number" name="approvefemalelecturar" value="<%=foundationsectionuser.approvefemalelecturar%>"></th>
	<th><input type="number" name="parttimemalelecturar" value="<%=foundationsectionuser.parttimemalelecturar%>"></th>
	<th><input type="number" name="parttimefemalelecturar" value="<%=foundationsectionuser.parttimefemalelecturar%>"></th>
	<th><input type="number" name="totalmalelecturar" value="<%=foundationsectionuser.totalmalelecturar%>"></th>
	<th><input type="number" name="totalfemalelecturar" value="<%=foundationsectionuser.totalfemalelecturar%>"></th>
</tr>
<tr>
	<th>টিচিং এসিস্ট্যান্ট </th>
	<th><input type="number" name="totalteachingassistantapproveseat" value="<%=foundationsectionuser.totalteachingassistantapproveseat%>"></th>
	<th><input type="number" name="approvemaleteachingassistant" value="<%=foundationsectionuser.approvemaleteachingassistant%>"></th>
	<th><input type="number" name="approvefemaleteachingassistant" value="<%=foundationsectionuser.approvefemaleteachingassistant%>"></th>
	<th><input type="number" name="parttimemaleteachingassistant" value="<%=foundationsectionuser.parttimemaleteachingassistant%>"></th>
	<th><input type="number" name="parttimefemaleteachingassistant" value="<%=foundationsectionuser.parttimefemaleteachingassistant%>"></th>
	<th><input type="number" name="totalmaleteachingassistant" value="<%=foundationsectionuser.totalmaleteachingassistant%>"></th>
	<th><input type="number" name="totalfemaleteachingassistant" value="<%=foundationsectionuser.totalfemaleteachingassistant%>"></th>
</tr>
<tr>
	<th>ভিজিটিং প্রফেসর</th>
	<th><input type="number" name="totalvisitingprofessorapproveseat" value="<%=foundationsectionuser.totalvisitingprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemalevisitingprofessor" value="<%=foundationsectionuser.approvemalevisitingprofessor%>"></th>
	<th><input type="number" name="approvefemalevisitingprofessor" value="<%=foundationsectionuser.approvefemalevisitingprofessor%>"></th>
	<th><input type="number" name="parttimemalevisitingprofessor" value="<%=foundationsectionuser.parttimemalevisitingprofessor%>"></th>
	<th><input type="number" name="parttimefemalevisitingprofessor" value="<%=foundationsectionuser.parttimefemalevisitingprofessor%>"></th>
	<th><input type="number" name="totalmalevisitingprofessor" value="<%=foundationsectionuser.totalmalevisitingprofessor%>"></th>
	<th><input type="number" name="totalfemalevisitingprofessor" value="<%=foundationsectionuser.totalfemalevisitingprofessor%>"></th>
</tr>
<tr>
	<th>অনারারী প্রফেসর</th>
	<th><input type="number" name="totalhonoraryprofessorapproveseat" value="<%=foundationsectionuser.totalhonoraryprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemalehonoraryprofessor" value="<%=foundationsectionuser.approvemalehonoraryprofessor%>"></th>
	<th><input type="number" name="approvefemalehonoraryprofessor" value="<%=foundationsectionuser.approvefemalehonoraryprofessor%>"></th>
	<th><input type="number" name="parttimemalehonoraryprofessor" value="<%=foundationsectionuser.parttimemalehonoraryprofessor%>"></th>
	<th><input type="number" name="parttimefemalehonoraryprofessor" value="<%=foundationsectionuser.parttimefemalehonoraryprofessor%>"></th>
	<th><input type="number" name="totalmalehonoraryprofessor" value="<%=foundationsectionuser.totalmalehonoraryprofessor%>"></th>
	<th><input type="number" name="totalfemalehonoraryprofessor" value="<%=foundationsectionuser.totalfemalehonoraryprofessor%>"></th>
</tr>
<tr>
	<th>সুপারনিউমারারী প্রফেসর</th>
	<th><input type="number" name="totalsupernumararyprofessorapproveseat" value="<%=foundationsectionuser.totalsupernumararyprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemalesupernumararyprofessor" value="<%=foundationsectionuser.approvemalesupernumararyprofessor%>"></th>
	<th><input type="number" name="approvefemalesupernumararyprofessor" value="<%=foundationsectionuser.approvefemalesupernumararyprofessor%>"></th>
	<th><input type="number" name="parttimemalesupernumararyprofessor" value="<%=foundationsectionuser.parttimemalesupernumararyprofessor%>"></th>
	<th><input type="number" name="parttimefemalesupernumararyprofessor" value="<%=foundationsectionuser.parttimefemalesupernumararyprofessor%>"></th>
	<th><input type="number" name="totalmalesupernumararyprofessor" value="<%=foundationsectionuser.totalmalesupernumararyprofessor%>"></th>
	<th><input type="number" name="totalfemalesupernumararyprofessor" value="<%=foundationsectionuser.totalfemalesupernumararyprofessor%>"></th>
</tr>
<tr>
	<th>ইমেরিটাস প্রফেসর</th>
	<th><input type="number" name="totalemeritusprofessorapproveseat" value="<%=foundationsectionuser.totalemeritusprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemaleemeritusprofessor" value="<%=foundationsectionuser.approvemaleemeritusprofessor%>"></th>
	<th><input type="number" name="approvefemaleemeritusprofessor" value="<%=foundationsectionuser.approvefemaleemeritusprofessor%>"></th>
	<th><input type="number" name="parttimemaleemeritusprofessor" value="<%=foundationsectionuser.parttimemaleemeritusprofessor%>"></th>
	<th><input type="number" name="parttimefemaleemeritusprofessor" value="<%=foundationsectionuser.parttimefemaleemeritusprofessor%>"></th>
	<th><input type="number" name="totalmaleemeritusprofessor" value="<%=foundationsectionuser.totalmaleemeritusprofessor%>"></th>
	<th><input type="number" name="totalfemaleemeritusprofessor" value="<%=foundationsectionuser.totalfemaleemeritusprofessor%>"></th>
</tr>
<tr>
	<th>জাতীয় অধ্যাপক</th>
	<th><input type="number" name="totalnationalprofessorapproveseat" value="<%=foundationsectionuser.totalnationalprofessorapproveseat%>"></th>
	<th><input type="number" name="approvemalenationalprofessor" value="<%=foundationsectionuser.approvemalenationalprofessor%>"></th>
	<th><input type="number" name="approvefemalenationalprofessor" value="<%=foundationsectionuser.approvefemalenationalprofessor%>"></th>
	<th><input type="number" name="parttimemalenationalprofessor" value="<%=foundationsectionuser.parttimemalenationalprofessor%>"></th>
	<th><input type="number" name="parttimefemalenationalprofessor" value="<%=foundationsectionuser.parttimefemalenationalprofessor%>"></th>
	<th><input type="number" name="totalmalenationalprofessor" value="<%=foundationsectionuser.totalmalenationalprofessor%>"></th>
	<th><input type="number" name="totalfemalenationalprofessor" value="<%=foundationsectionuser.totalfemalenationalprofessor%>"></th>
</tr>
</table>
<br>

<h3>কর্মরত ও অনুপস্থিত শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center" class="table2">

<tr>
	<th>বিবরণ</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>কর্মরত শিক্ষক</th>
	<th><input type="number" name="workingmaleteacher" value="<%=foundationsectionuser.workingmaleteacher%>"></th>
	<th><input type="number" name="workingfemaleteacher" value="<%=foundationsectionuser.workingfemaleteacher%>"></th>
</tr>
<tr>
	<th>অনুপস্থিত শিক্ষক</th>
	<th><input type="number" name="absentmaleteacher" value="<%=foundationsectionuser.absentmaleteacher%>"></th>
	<th><input type="number" name="absentfemaleteacher" value="<%=foundationsectionuser.absentfemaleteacher%>"></th>
</tr>
<tr>
	<th>শিক্ষা ছুটি</th>
	<th><input type="number" name="maleeducationvacationteacher" value="<%=foundationsectionuser.maleeducationvacationteacher%>"></th>
	<th><input type="number" name="femaleeducationvacationteacher" value="<%=foundationsectionuser.femaleeducationvacationteacher%>"></th>
</tr>
<tr>
	<th>প্রেষণ</th>
	<th><input type="number" name="maletransmissionteacher" value="<%=foundationsectionuser.maletransmissionteacher%>"></th>
	<th><input type="number" name="femaletransmissionteacher" value="<%=foundationsectionuser.femaletransmissionteacher%>"></th>
</tr>
<tr>
	<th>লিয়েন</th>
	<th><input type="number" name="maleliyenteacher" value="<%=foundationsectionuser.maleliyenteacher%>"></th>
	<th><input type="number" name="femaleliyenteacher" value="<%=foundationsectionuser.femaleliyenteacher%>"></th>
</tr>
<tr>
	<th>বিনা বেতনে</th>
	<th><input type="number" name="malefreesalaryteacher" value="<%=foundationsectionuser.malefreesalaryteacher%>"></th>
	<th><input type="number" name="femalefreesalaryteacher" value="<%=foundationsectionuser.femalefreesalaryteacher%>"></th>
</tr>
<tr>
	<th>অননুমদিত</th>
	<th><input type="number" name="maleunapproveteacher" value="<%=foundationsectionuser.maleunapproveteacher%>"></th>
	<th><input type="number" name="femaleunapproveteacher" value="<%=foundationsectionuser.femaleunapproveteacher%>"></th>
</tr>
<tr>
	<th>খন্ডকালিন/চুক্তিভিত্তিক/অন্যান্য</th>
	<th><input type="number" name="maleparttimeteacher" value="<%=foundationsectionuser.maleparttimeteacher%>"></th>
	<th><input type="number" name="femaleparttimeteacher" value="<%=foundationsectionuser.femaleparttimeteacher%>"></th>
</tr>
</table>
<br>
<h3>কর্মকর্তা ও কর্মচারী পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center" class="table3">
<tr>
	<th rowspan="2">কর্মকর্তা ও কর্মচারী</th>
	<th rowspan="2">অনুমোদিত পদ সংখ্যা</th>
	<th colspan="2">সংখ্যা</th>
</tr>
<tr>
<th>পুরুষ</th>
<th>মহিলা</th>
</tr>
<tr>
	<th>কর্মকর্তা(স্থায়ী)</th>
	<th><input type="number" name="totalpermanentofficerapproveseat" value="<%=foundationsectionuser.totalpermanentofficerapproveseat%>"></th>
	<th><input type="number" name="permanentmaleofficer" value="<%=foundationsectionuser.permanentmaleofficer%>"></th>
	<th><input type="number" name="permanentfemaleofficer" value="<%=foundationsectionuser.permanentfemaleofficer%>"></th>
</tr>
<tr>
	<th>কর্মকর্তা(চুক্তিভিত্তিক)</th>
	<th><input type="number" name="totalcontactualofficerapproveseat" value="<%=foundationsectionuser.totalcontactualofficerapproveseat%>"></th>
	<th><input type="number" name="contactualmaleofficer" value="<%=foundationsectionuser.contactualmaleofficer%>"></th>
	<th><input type="number" name="contactualfemaleofficer" value="<%=foundationsectionuser.contactualfemaleofficer%>"></th>
</tr>
<tr>
	<th>তৃতীয় শ্রেনীর কর্মচারী(স্থায়ী)</th>
	<th><input type="number" name="totalthirdclasspermanentemployeapproveseat" value="<%=foundationsectionuser.totalthirdclasspermanentemployeapproveseat%>"></th>
	<th><input type="number" name="thirdclasspermanentmaleemploye" value="<%=foundationsectionuser.thirdclasspermanentmaleemploye%>"></th>
	<th><input type="number" name="thirdclasspermanentfemaleemploye" value="<%=foundationsectionuser.thirdclasspermanentfemaleemploye%>"></th>
</tr>
<tr>
	<th>চথুরথ শ্রেনীর কর্মচারী(স্থায়ী)</th>
	<th><input type="number" name="totalfourthclasspermanentemployeapproveseat" value="<%=foundationsectionuser.totalfourthclasspermanentemployeapproveseat%>"></th>
	<th><input type="number" name="fourthclasspermanentmaleemploye" value="<%=foundationsectionuser.fourthclasspermanentmaleemploye%>"></th>
	<th><input type="number" name="fourthclasspermanentfemaleemploye" value="<%=foundationsectionuser.fourthclasspermanentfemaleemploye%>"></th>
</tr>
<tr>
	<th>কর্মচারী(আঢকভিত্তিক)</th>
	<th><input type="number" name="totaladhokemployeapproveseat" value="<%=foundationsectionuser.totaladhokemployeapproveseat%>"></th>
	<th><input type="number" name="adhokmaleeemploye" value="<%=foundationsectionuser.adhokmaleeemploye%>"></th>
	<th><input type="number" name="adhokfemaleeemploye" value="<%=foundationsectionuser.adhokfemaleeemploye%>"></th>
</tr>
<tr>
	<th>কর্মচারী(দৈনিক হাজিরাভিত্তিক)</th>
	<th><input type="number" name="totaldailypresentemployeapproveseat" value="<%=foundationsectionuser.totaldailypresentemployeapproveseat%>"></th>
	<th><input type="number" name="dailypresentmaleeemploye" value="<%=foundationsectionuser.dailypresentmaleeemploye%>"></th>
	<th><input type="number" name="dailypresentfemaleeemploye" value="<%=foundationsectionuser.dailypresentfemaleeemploye%>"></th>
</tr>
</table>
<br>
<button type="submit">update</button>
</form>
<br>
</div>
</body>
</html>