<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/gce">insert</a></li>
    <li>
      <form action="/gcedata" method="GET">
        <input type="number" name="gcesession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/gcelogout">logout</a></li>
  </ul>
 </div> 
<div class="form">
<form action="/gceuser/<%=gceuser._id %>" method="post">

<h3>গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগের শিক্ষার্থীঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th>মোট আসন সংখা</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
	<th rowspan="4">যন্ত্রকৌশল অনুষদ </th>
	<th rowspan="4">গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="metotalbscstudent" value="<%=gceuser.metotalbscstudent%>"></th>
	<th><input type="number" name="memalebscstudent" value="<%=gceuser.memalebscstudent%>"></th>
	<th><input type="number" name="mefemalebscstudent" value="<%=gceuser.mefemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="metotalmscstudent" value="<%=gceuser.metotalmscstudent%>"></th>
	<th><input type="number" name="memalemscstudent" value="<%=gceuser.memalemscstudent%>"></th>
	<th><input type="number" name="mefemalemscstudent" value="<%=gceuser.mefemalemscstudent%>"></th>
</tr>
<tr>
    <th>এমফিল/সমমান</th>
	<th><input type="number" name="metotalmfilstudent" value="<%=gceuser.metotalmfilstudent%>"></th>
	<th><input type="number" name="memalemfilstudent" value="<%=gceuser.memalemfilstudent%>"></th>
	<th><input type="number" name="mefemalemfilstudent" value="<%=gceuser.mefemalemfilstudent%>"></th>	
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="metotalphdstudent" value="<%=gceuser.metotalphdstudent%>"></th>
	<th><input type="number" name="memalephdstudent" value="<%=gceuser.memalephdstudent%>"></th>
	<th><input type="number" name="mefemalephdstudent" value="<%=gceuser.mefemalephdstudent%>"></th>
</tr>
</table>
<br><br>


<h3>গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগের শিক্ষার্থী(বিদেশী শিক্ষার্থীসহ)</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>ডিগ্রি</th>
	<th colspan="2">ভর্তিকৃত শিক্ষার্থীর সংখ্যা</th>
</tr>

<tr>
	<th></th>
	<th></th>
	<th></th>
	<th>ছাত্র</th>
	<th>ছাত্রী</th>
</tr>
<tr>
    <th rowspan="4">যন্ত্রকৌশল অনুষদ </th>
	<th rowspan="4">গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>বিএসসি ইঞ্জিনিয়ারিং(স্নাতক)</th>
	<th><input type="number" name="meforeignmalebscstudent" value="<%=gceuser.meforeignmalebscstudent%>"></th>
	<th><input type="number" name="meforeignfemalebscstudent" value="<%=gceuser.meforeignfemalebscstudent%>"></th>
</tr>
<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="meforeignmalemscstudent" value="<%=gceuser.meforeignmalemscstudent%>"></th>
	<th><input type="number" name="meforeignfemalemscstudent" value="<%=gceuser.meforeignfemalemscstudent%>"></th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="meforeignmalemfilstudent" value="<%=gceuser.meforeignmalemfilstudent%>"></th>
	<th><input type="number" name="meforeignfemalemfilstudent" value="<%=gceuser.meforeignfemalemfilstudent%>"></th>
</tr>
<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="meforeignmalephdstudent" value="<%=gceuser.meforeignmalephdstudent%>"></th>
	<th><input type="number" name="meforeignfemalephdstudent" value="<%=gceuser.meforeignfemalephdstudent%>"></th>
</tr>
</table>
<br>

<h3>গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগের ডিগ্রিভিত্তিক শিক্ষকদের পরিসংখ্যানঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th rowspan="2">ডিগ্রি</th>
	<th colspan="2">পূর্ণকালিন  শিক্ষক সংখ্যা</th>
	<th colspan="2">খন্ডকালিন  শিক্ষক সংখ্যা</th>
</tr>
<tr>
	<th>পুরুষ</th>
	<th>মহিলা</th>
	<th>পুরুষ</th>
	<th>মহিলা</th>
</tr>
<tr>
	<th>এমফিল/সমমান</th>
	<th><input type="number" name="mefulltimemfilmaleteacher" value="<%=gceuser.mefulltimemfilmaleteacher%>"></th>
	<th><input type="number" name="mefulltimemfilfemaleteacher" value="<%=gceuser.mefulltimemfilfemaleteacher%>"></th>
	<th><input type="number" name="meparttimemfilmaleteacher" value="<%=gceuser.meparttimemfilmaleteacher%>"></th>
	<th><input type="number" name="meparttimemfilfemaleteacher" value="<%=gceuser.meparttimemfilfemaleteacher%>"></th>
</tr>

<tr>
	<th>পিএইচডি/সমমান</th>
	<th><input type="number" name="mefulltimephdmaleteacher" value="<%=gceuser.mefulltimephdmaleteacher%>"></th>
	<th><input type="number" name="mefulltimephdfemaleteacher" value="<%=gceuser.mefulltimephdfemaleteacher%>"></th>
	<th><input type="number" name="meparttimephdmaleteacher" value="<%=gceuser.meparttimephdmaleteacher%>"></th>
	<th><input type="number" name="meparttimephdfemaleteacher" value="<%=gceuser.meparttimephdfemaleteacher%>"></th>
</tr>

<tr>
	<th>মাস্টার্স</th>
	<th><input type="number" name="mefulltimemscmaleteacher" value="<%=gceuser.mefulltimemscmaleteacher%>"></th>
	<th><input type="number" name="mefulltimemscfemaleteacher" value="<%=gceuser.mefulltimemscfemaleteacher%>"></th>
	<th><input type="number" name="meparttimemscmaleteacher" value="<%=gceuser.meparttimemscmaleteacher%>"></th>
	<th><input type="number" name="meparttimemscfemaleteacher" value="<%=gceuser.meparttimemscfemaleteacher%>"></th>
</tr>

<tr>
	<th>স্নাতক/স্নাতক(সম্মান)</th>
	<th><input type="number" name="mefulltimebscmaleteacher" value="<%=gceuser.mefulltimebscmaleteacher%>"></th>
	<th><input type="number" name="mefulltimebscfemaleteacher" value="<%=gceuser.mefulltimebscfemaleteacher%>"></th>
	<th><input type="number" name="meparttimebscmaleteacher" value="<%=gceuser.meparttimebscmaleteacher%>"></th>
	<th><input type="number" name="meparttimebscfemaleteacher" value="<%=gceuser.meparttimebscfemaleteacher%>"></th>
</tr>

<tr>
	<th>অন্যান্য (যদি থাকে)</th>
	<th><input type="number" name="mefulltimeothermaleteacher" value="<%=gceuser.mefulltimeothermaleteacher%>"></th>
	<th><input type="number" name="mefulltimeotherfemaleteacher" value="<%=gceuser.mefulltimeotherfemaleteacher%>"></th>
	<th><input type="number" name="meparttimeothermaleteacher" value="<%=gceuser.meparttimeothermaleteacher%>"></th>
	<th><input type="number" name="meparttimeotherfemaleteacher" value="<%=gceuser.meparttimeotherfemaleteacher%>"></th>
</tr>
</table>
<br>

<h3>গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগের গবেষণা ও প্রকাশনাঃ</h3>
<table border="1" width="900" align="center">
<tr>
	<th>অনুষদ/স্কুল্/ইনস্টিটিউট/একাডেমির নাম</th>
	<th>বিভাগের নাম</th>
	<th>গবেষণা/প্রকাশনা(প্রকাশিত ও অপ্রকাশিত) এর বিবরণ</th>
	<th>সংখ্যা</th>
</tr>
<tr>
	<th rowspan="10">যন্ত্রকৌশল অনুষদ </th>
	<th rowspan="10">গ্লাস এন্ড সিরামিক ইঞ্জিনিয়ারিং বিভাগ</th>
	<th>নিজস্ব ও সরকারিখাতে অর্থায়নে পরিচালিত গবেষণা প্রকল্প </th>
	<th><input type="number" name="meresearch1" value="<%=gceuser.meresearch1%>"></th>
</tr>
<tr>
	<th>দেশের বিভিন্ন সরকারি ও বেসরকারি প্রতিষ্ঠানের আর্থিক সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="meresearch2" value="<%=gceuser.meresearch2%>"></th>
</tr>
<tr>
	<th>বিদেশী সংস্থার সাহায্যে পরিচালিত গবেষণা প্রকল্প</th>
	<th><input type="number" name="meresearch3" value="<%=gceuser.meresearch3%>"></th>
</tr>
<tr>
	<th>মাস্টার্স পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch4" value="<%=gceuser.meresearch4%>"></th>
</tr>
<tr>
	<th>এমফিল পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch5" value="<%=gceuser.meresearch5%>"></th>
</tr>
<tr>
	<th>পিএইচডি পর্যায়ে অভিসন্দর্ভ</th>
	<th><input type="number" name="meresearch6" value="<%=gceuser.meresearch6%>"></th>
</tr>
<tr>
<th>পিয়ার রিভিউকৃত দেশী এবং বিদেশী সাময়িকীতে প্রকাশিত প্রবন্ধ Journal and Conference</th>
<th><input type="number" name="mejournal" value="<%=gceuser.mejournal%>"><br>
    <input type="number" name="meconference" value="<%=gceuser.meconference%>">
</th>
</tr>
<tr>
	<th>প্রকাশিত পিয়ার রিভিউকৃত সাময়িকী</th>
	<th><input type="number" name="meresearch8" value="<%=gceuser.meresearch8%>"></th>
</tr>
<tr>
	<th>প্রকাশিত বই</th>
	<th><input type="number" name="meresearch9" value="<%=gceuser.meresearch9%>"></th>
</tr>
<tr>
	<th>প্রকাশিত ইলেকট্রনিক বই/সাময়িকী</th>
	<th><input type="number" name="meresearch10" value="<%=gceuser.meresearch10%>"></th>
</tr>
</table><br>
<button type="submit">update</button>
</form>
<br>
</div>
</body>
</html>