<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="/public/style.css">
	
</head>
<body>
 <div class="topnav">
  <ul>
    <li><a class="active" href="/hall">insert</a></li>
    <li>
      <form action="/halldata" method="GET">
        <input type="number" name="hallsession" placeholder="সাল..">
        <button type="submit" value="search">search</button>
      </form>
    </li>   
    <li><a class="active" href="/halllogout">logout</a></li>
  </ul>
 </div>  
<div class="form">
<form action="/halluser/<%=halluser._id%>" method="post">
<p> সালঃ<input type="text" name="session"></p>
<h3>আবাসিক শিক্ষার্থীর পরিসংখ্যান</h3>
<table border="1" width="900" align="center">
	<tr>
		<th rowspan="2">হল/ডরমিটরি নাম</th>
		<th colspan="2">সংখ্যা</th>
	</tr>
	<tr>
		<th>ছাত্র</th>
		<th>ছাত্রী</th>
	</tr>
	<tr>
		<th>বঙ্গবন্ধু হল</th>
		<th><input type="number" name="bongobondhuhallmalestudent" value="<%=halluser.bongobondhuhallmalestudent%>"></th>
		<th><input type="number" name="bongobondhuhallfemalestudent" value="<%=halluser.bongobondhuhallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>শহীদ প্রেসিডেন্ট জিয়াউর রহমান হল</th>
		<th><input type="number" name="ziahallmalestudent" value="<%=halluser.ziahallmalestudent%>"></th>
		<th><input type="number" name="ziahallfemalestudent" value="<%=halluser.ziahallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>শহীদ লেঃ সেলিম হল</th>
		<th><input type="number" name="selimhallmalestudent" value="<%=halluser.selimhallmalestudent%>"></th>
		<th><input type="number" name="selimhallfemalestudent" value="<%=halluser.selimhallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>শহীদ শহিদুল ইসলাম হল</th>
		<th><input type="number" name="shohidulhallmalestudent" value="<%=halluser.shohidulhallmalestudent%>"></th>
		<th><input type="number" name="shohidulhallfemalestudent" value="<%=halluser.shohidulhallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>শহীদ আব্দুল হামিদ হল</th>
		<th><input type="number" name="hamidhallmalestudent" value="<%=halluser.hamidhallmalestudent%>"></th>
		<th><input type="number" name="hamidhallfemalestudent" value="<%=halluser.hamidhallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>টিনশেড হল</th>
		<th><input type="number" name="tinshedhallmalestudent" value="<%=halluser.tinshedhallmalestudent%>"></th>
		<th><input type="number" name="tinshedhallfemalestudent" value="<%=halluser.tinshedhallfemalestudent%>"></th>
	</tr>
	<tr>
		<th>দেশরত্ন শেখ হাসিনা হল</th>
		<th><input type="number" name="shekhhasinahallmalestudent" value="<%=halluser.shekhhasinahallmalestudent%>"></th>
		<th><input type="number" name="shekhhasinahallfemalestudent" value="<%=halluser.shekhhasinahallfemalestudent%>"></th>
	</tr>
</table><br>
<button type="submit">update</button>
</form>
<br>
</div>
</body>
</html>